.friendList {
    width: 500px;
    margin: 20px;
}
.item {
  display: flex;
  align-items: center;
  padding: 10px;

  background-color: var(--color-white);

  border: 1px solid black;
}
.name {
    margin-left: 20px;
     font-size: 24px;
    font-weight: bold;
    
}
.avatar {
    height: 100%;
    border: 2px solid skyblue;
    border-radius: 4px;
}



.item + .item {
  margin-top: 10px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.green {
  background-color: greenyellow;
  animation: pulse 1s infinite;
}
.red {
    background-color: red;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.avatar {
  margin-left: 20px;
  width: 100px;
  height: 100px;

  background-color: var(--color-secondary-text);
  border: 2px solid skyblue;
    border-radius: 4px;
}
